* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #272727;
}

/* Navbar */

.navbar {
    background: #272727;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 30px;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#navbar_logo:hover {
    color: #3bf686;
    transition: all 0.4s ease;
}

.navimg {
    max-width: 30px;
    max-height: 30px;
    height: auto;
    width: auto;
    color: #D1D1D1
}

.navimg:hover {
    color: #3bf686;
    transition: all 0.4s ease;
}

.logo_img {
    margin-right: 0.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links{
    color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.navbar_links:hover {
    color: #3bf686;
    transition: all 0.4s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }


    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 70vh;
        z-index: -1;
    }

    .navbar_menu.active {
        background: #272727;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1rem;
    }

    #navbar_logo {
        padding-left: 25px;
        
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
    
}


.bloghead {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 1760px;
    width: auto;
    height: auto;
    justify-self: center;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.blogtitle {
    max-width: 400px;
    width: auto;
}

.blogtitle h1{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: white;
}

.tiletext {
    align-items: center;
}

.blogimg {
    max-width: 235px;
    max-height: 234px;
    height: auto;
    width: auto;
 }

 .blogtext {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #d6d6d6;
    margin: auto;
    max-width: 1760px;
    padding: 30px 50px;
    font-size: 1.65rem;
    text-justify: inter-word;
 }

 .txthighlight {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    color: #d6d6d6;
 }

 .bodyimg {
    text-align: center;
 }

 .bodyimg img{
    max-width: 728px;
 }

 .imgtext {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    max-width: 728px;
    text-align: center;
    margin: auto;
 }


 .footer {
    background: #272727;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    bottom: 0;
    z-index: 999;
    padding-top: 80px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-weight: 200;
}



@media screen and (max-width: 960px) {
    .blogtitle {
        max-width: 380px;
        width: auto;
    }

    .blogtitle h1{
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        font-size: 4.5rem;
        color: white;
        padding-bottom: 15px;
    }

    .blogtext {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        color: #d6d6d6;
        margin: auto;
        max-width: 1760px;
        padding: 30px 50px;
        font-size: 1.4rem;
        text-align: justify;
        text-justify: inter-word;
     }
    
     .txthighlight {
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        color: #d6d6d6;
     }

}

@media screen and (max-width: 830px) {
    .bodyimg img{
        max-width: 628px;
     }
    
     .imgtext {
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        max-width: 628px;
     }
}


@media screen and (max-width: 768px) {
    .bloghead {
        padding-top: 50px;
        margin: 0 auto;
        max-width: 768px;
        width: auto;
        height: auto;
        justify-self: center;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    }

    .blogtitle {
        max-width: 380px;
        width: auto;
    }

    .blogtitle h1{
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        font-size: 4rem;
        color: white;
        text-align: center;
    }

    .blogtext {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        color: #d6d6d6;
        margin: auto;
        max-width: 1760px;
        padding: 30px 50px;
        font-size: 1.3rem;
        text-align: justify;
        text-justify: inter-word;
     }
    
     .txthighlight {
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        color: #d6d6d6;
     }
}

@media screen and (max-width: 730px) {
    .bodyimg img{
        max-width: 528px;
     }
    
     .imgtext {
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        max-width: 528px;
     }
}

@media screen and (max-width: 630px) {
    .bodyimg img{
        max-width: 428px;
     }
    
     .imgtext {
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        max-width: 428px;
     }
}

@media screen and (max-width: 530px) {
    .bodyimg img{
        max-width: 328px;
     }
    
     .imgtext {
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 1rem;
        max-width: 328px;
     }
}


@media screen and (max-width: 480px) {
    .bloghead {
        padding-top: 50px;
        margin: 0 auto;
        max-width: 480px;
        width: auto;
        height: auto;
        justify-self: center;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
    }

    .blogtitle {
        max-width: 380px;
        width: auto;
    }

    .blogtitle h1{
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        font-size: 3.8rem;
        color: white;
        text-align: center;
    }

    .blogtext {
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        color: #d6d6d6;
        margin: auto;
        max-width: 1760px;
        padding: 30px 50px;
        font-size: 1.4rem;
        text-align: justify;
        text-justify: inter-word;
     }
    
     .txthighlight {
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        color: #d6d6d6;
     }
}
