@font-face {
    font-family: myFirstFont;
    src: url(text/OpenSauceOne-Light.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(text/OpenSauceOne-SemiBold.ttf);
}

@font-face {
    font-family: myThirdFont;
    src: url(text/OpenSauceOne-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: myThirdFont;
    src: url(text/OpenSauceOne-ExtraBoldItalic.ttf);
}



body {
    background-color: #06002E;
    color: white;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 3%;
    
}

.navbar div {
    font-family: mySecondFont;
    font-size: 40px
}

.navbar ul {
    font-family: myFirstFont;
    font-size: 25px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.navbar ul a {
    text-decoration: none;
    color: white;
    margin: 0%;
    padding: 0 40px;
}

.welcome {
    display: flex; 
    flex-direction: row;
    padding: 25px;
}

.welcometext h1{
    font-family: myThirdFont;
    font-size: 100px;
    text-align: center;
}

.welcometext h3 {
    font-size: 30px;
    text-align: center;
    padding: 0 60px;
}

.welcomepic {
    max-width: 100%;
    max-height: 100%;
}