* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #272727;
}

/* Navbar */

.navbar {
    background: #272727;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding-top: 30px;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#navbar_logo:hover {
    color: #3bf686;
    transition: all 0.4s ease;
}

.navimg {
    max-width: 30px;
    max-height: 30px;
    height: auto;
    width: auto;
    color: #D1D1D1
}

.navimg:hover {
    color: #3bf686;
    transition: all 0.4s ease;
}

.logo_img {
    margin-right: 0.5rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item {
    height: 80px;
}

.navbar_links{
    color: #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.navbar_links:hover {
    color: #3bf686;
    transition: all 0.4s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }


    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 70vh;
        z-index: -1;
    }

    .navbar_menu.active {
        background: #272727;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1rem;
    }

    #navbar_logo {
        padding-left: 25px;
        
    }

    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
    
}

/* Landing */

.main_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 1760px;
    justify-self: center;
    padding-left: 50px;
    padding-right: 50px;
}

#main_img {
    max-width: 476px;
    max-height: 385px;
    width: auto;
    height: auto;
}

.bigtext {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    max-width: 552px;
    width: 100%;
    background: -webkit-linear-gradient(-70deg,#3BF686 30%, #4CA9FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.smalltext h2{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    max-width: 955px;
    width: 100%;
    color: #D6D6D6;
    padding-top: 20px;
}

/* Projects */

.showcase {
    width: auto; 
    max-width: 1760px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin: auto;
}

.showcase h1{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    background: -webkit-linear-gradient(-70deg,#3BF686, #4CA9FF 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.25fr 1fr;
    grid-row-gap: 1.5rem;
}

.tiletext {
    align-items: center;
    margin: auto;
    text-align: center;
}

.blogimg {
    max-width: 235px;
    max-height: 234px;
    height: auto;
    width: auto;
 }


.tiles {
    background-color: #323443;
    border-radius: 14px;
    max-width: 555px;
    max-height: 290px;
    width: auto;
    height: auto;
    padding: 1.5rem;
}

.tiles:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;

}

.tiles h2{
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    color: white;
    padding-bottom: 25px;
}

.tiles h3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1.4%;
}

.desctext {
    margin: auto;
}

.desctext h1 {
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 2.75rem;
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 1rem;
}

.desctext h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #dedede;
    padding-bottom: 1.5rem;
}

.desctext h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #d4d4d4;
    padding-bottom: 0.5rem;
    letter-spacing: 1.4%;
}

.footer {
    background: #272727;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    bottom: 0;
    z-index: 999;
    padding-top: 80px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-weight: 200;
}
